<style>
    .grid{ 
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    right:0px;
     }
     .grid *{
        text-align: center;
        margin: 0px auto;
     }

    .balk{
        background-color: grey;
        color: white;
    }

    .absolute{
        position: absolute;
        width:100%;
    }
</style>
<footer class="absolute">



    <div class="grid">
        <h1 style="display: none;"></h1>
        <h1>test</h1>
        <img src="/RewinedDocs/media//logo/rewined_logo_s.png" alt="" width="150">
        <h1>test3</h1>
    </div>

    <div class="balk">
        <p>test</p>
    </div>
  
  
</footer>
