<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
  
    <div class="wrapper">
  
      <h2 class="footer-heading">Cyberloginit</h2>
      <img src="/RewinedDocs/media//logo/rewined_logo_s.png" alt="">
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li class="p-name">Cyberloginit</li><li><a class="u-email" href="mailto:cyberloginit@protonmail.com">cyberloginit@protonmail.com</a></li></ul>
        <a href="https://m.do.co/c/de1b31930850" target="_blank"><img src="/images/DO_Powered_by_Badge_black.svg" ></a>
        </div>
      </div>
  
    </div>
  
  </footer>