<style>
    .grid{ 
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: white;
    right:0px;
     }
     .grid *{
        text-align: center;
        margin: 0px auto;
     }

     .grid img{
        max-width: 300px;
        width: 90%;
     }

    .balk{
        background-color: grey;
        color: white;
        text-align: center;
        padding: 10px 0px;
    }
    .balk *{
        margin-block-end: 0px !important;
        margin-bottom: 0px !important;
    }

    .absolute{
        position: absolute;
        width:100%;
        right: 0px;
    }
    .bottom{
        position: relative;
    }
    .bottom * {
        position: absolute;
        bottom: 0px;
    }
</style>

<footer class="absolute">
    <div class="grid">
        <h1 style="display: none;"></h1>
        <div class="bottom">
            <h5>geschreven door</h5>
            <h1>{{page.author}}</h1>
        </div>
    
        <img src="/RewinedDocs/media//logo/rewined_logo_s.png" alt="" width="150">
        <h1>test3</h1>
    </div>

    <div class="balk">
        <p>Last update on {{ site.time | date: '%d %B  %Y at %H:%M:%S' }}  </p>
    </div>
    
</footer>
